* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hamburger-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* عرض منو */
  height: 100%;
  background-color: white;
  z-index: 1000;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.hamburger-menu.open {
  display: block;
  transform: translateX(0);
}

.close-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  cursor: pointer;
}

/* Slider styles */
.slider-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  margin-top: 20px;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 100%;
  object-fit: cover;
  display: block;
  height: 442px;
}

.slider-controls {
  position: absolute;
  top: 24rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
}

.slider-pagination {
  display: flex;
  gap: 10px;
}

.pagination-dot {
  width: 12px;
  height: 12px;
  background-color: #ddd;
  border-radius: 50%;
  cursor: pointer;
}

.pagination-dot.active {
  background-color: #333;
}

.slider-prev,
.slider-next {
  background-color: rgba(202, 192, 192, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Slider styles2 */
.slider-container2 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  margin-top: 20px;
}

.slider-wrapper2 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide2 {
  min-width: 100%;
}

.slide2 img {
  width: 100%;
  object-fit: cover;
  display: block;
  height: 442px;
}

.slider-controls2 {
  position: absolute;
  top: 24rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
}

.slider-pagination2 {
  display: flex;
  gap: 10px;
}

.pagination-dot2 {
  width: 12px;
  height: 12px;
  background-color: #ddd;
  border-radius: 50%;
  cursor: pointer;
}

.pagination-dot2.active2 {
  background-color: #333;
}

.slider2-prev2,
.slider2-next2 {
  background-color: rgba(202, 192, 192, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
